@page "/Creator"

<!DOCTYP html>
<html>
    <head>
        <title>Creator</title>
    </head>
    <body>
        <h1>Simpler</h1>
        <hr />
        @{
            var message = "Welcome...";
        }
    <h2>@message</h2>
    </body>
</html>